button {
    height: 40px;
    width: 40px;
    outline: black;
    margin: 10px;
    border: black;
    border-radius: 1px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px rgb(0, 0, 0),
                0 0 0 4px black;
  }